:root {
  --projectmargin: 24vw;
  --headerheight: 6rem;
  --secondary-font: "PxGroteskBold";
}

@font-face {
  font-family: "PxGroteskBold";
  src: url("fonts/PxGrotesk-Bold.woff2") format("woff2"),
    url("fonts/PxGrotesk-Bold.woff") format("woff"),
    url("fonts/PxGroteskBold.ttf") format("truetype ");
}

* {
  font-family: "PxGroteskBold";
}
